<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i>Form Example
                    <div class="card-actions">
                        <button class="btn btn-minimize" type="button" data-toggle="collapse"
                                data-target="#collapseExample1" aria-expanded="true" aria-controls="collapseExample1">
                            <i class="icon-arrow-up"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body collapse show" id="collapseExample1" ng-controller="FormExampleController">
                    <form class="form-horizontal" name="formExample" novalidate>
                        <div class="form-group">
                            <label class="col-form-label" for="name">Name</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <!-- <div class="input-group-prepend">
                                        <span class="input-group-text">@</span>
                                    </div> -->
                                    <input id="name" name="name" class="form-control col-4" size="16" type="text"
                                           ng-model="formTesting.name" required>
                                    <span style="color:red"
                                          ng-show="formExample.name.$dirty && formExample.name.$invalid" class="invalid-feedback">
                                        <span ng-show="formExample.name.$error.required">Name is
                                            required.</span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="email">Email</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <!-- <div class="input-group-prepend">
                                        <span class="input-group-text">@</span>
                                    </div> -->
                                    <input id="email" class="form-control col-4" size="16" type="text"
                                           ng-model="formTesting.email" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="phone">No. Handphone</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <!-- <div class="input-group-prepend">
                                        <span class="input-group-text">@</span>
                                    </div> -->
                                    <input id="phone" class="form-control col-4" size="16" type="text"
                                           ng-model="formTesting.phone" />
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary" ng-click="getFormValue()"><i
                                    class="fa fa-save"></i> Save</button>
                            <button class="btn btn-secondary" type="button"><i class="fa fa-close"></i> Cancel</button>
                            <button class="btn btn-warning" type="button" ng-click="findData()"><i class="fa fa-check"></i> Test Service</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>
