<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-list"></i>Card Kegiatan
                    <div class="card-actions">
                        <button class="btn btn-minimize" type="button" data-toggle="collapse"
                                data-target="#collapseExample1" aria-expanded="true" aria-controls="collapseExample1">
                            <i class="icon-arrow-up"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body collapse show text-center" id="collapseExample1">
                    <h6>Kegiatan</h6>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>
