<div class="animated fadeIn" ng-controller="LaporanController">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-list"></i>Card Laporan
                </div>
                <div class="card-body">
                    <div class="col-md-12 row">
                        <div class="col-md-7">
                            <label class="col-form-label">Pilih Jenis Laporan</label>
                            <div class="row col-md-8 input-group input-group-prepend">
                                <select id="jenisLaporan" name="jenisLaporan"
                                        class="form-control input-lg"
                                        ng-model="laporanJenis">
                                    <option ng-value=val
                                            ng-repeat="val in ::listJenisLaporan">
                                        {{val.laporanViewName}}
                                    </option>
                                </select>
                                <div class="input-group-prepend">
                                    <button id="button-kirim-laporan" type="button" class="btn btn-primary rounded" ng-click="getLaporan()">
                                        Kirim
                                        <span id="kirim-laporan" style="display: none">
                                          <i class="fa fa-spinner fa-spin"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <embed ng-src="{{pdfLink}}" type="application/pdf" style="width:100%;height:1000px;">
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>
