<div class="animated fadeIn" ng-controller="TabRpaKomponenController">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body" id="collapseExample1">

                    <div class="tab-wrap">
                        <input type="radio" id="tab1" name="tabGroup1" class="tab" ng-click="tabGoTo('kegiatan')">
                        <label for="tab1">KEGIATAN</label>

                        <input type="radio" id="tab2" name="tabGroup1" class="tab" ng-click="tabGoTo('komponen')">
                        <label for="tab2">KOMPONEN</label>

                        <input type="radio" id="tab3" name="tabGroup1" class="tab" checked ng-click="tabGoTo('rpa')">
                        <label for="tab3">RPA PER KOMPONEN</label>
                    </div>

                    <div class="border rounded">
                        <div class="col-12">
                            <div class="form-group">
                                <strong> <u> Data Kegiatan </u> </strong>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 3px !important;">
                            <div class="col-6">
                                <div class="form-group row col-12">
                                    <label for="urusan" class="col-4 col-form-label">Urusan <sup
                                            style="color: red;">(*)</sup>
                                    </label>
                                    <div class="col-8">
                                        <div class="input-group input-group-prepend">
                                            <input readonly type="text" class="form-control" name="urusan"
                                                   id="urusan"
                                                   ng-model="formTambahKegiatan.urusan.namaUrusan">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row col-12">
                                    <label for="program" class="col-4 col-form-label">Program <sup
                                            style="color: red;">(*)</sup>
                                    </label>
                                    <div class="col-8">
                                        <div class="input-group input-group-prepend">
                                            <input readonly type="text" class="form-control" name="program"
                                                   id="program"
                                                   ng-model="formTambahKegiatan.program.namaProgram"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row col-12">
                                    <label for="noKegiatan" class="col-4 col-form-label">No. Kegiatan <sup
                                            style="color: red;">(*)</sup>
                                    </label>
                                    <div class="col-8">
                                        <input readonly type="text" class="form-control" name="noKegiatan"
                                               id="noKegiatan"
                                               ng-model="formTambahKegiatan.kodeKegiatan">
                                    </div>
                                </div>
                                <div class="form-group row col-12">
                                    <label for="namaKegiatan" class="col-4 col-form-label">Nama Kegiatan <sup
                                            style="color: red;">(*)</sup>
                                    </label>
                                    <div class="col-8">
                                        <input readonly type="text" class="form-control" name="namaKegiatan"
                                               id="namaKegiatan"
                                               ng-model="formTambahKegiatan.namaKegiatan">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row col-12">
                                    <label for="paguKegiatan" class="col-4 col-form-label">
                                        Pagu Kegiatan
                                    </label>
                                    <div class="col-8">
                                        <input type="text" readonly name="paguKegiatan" id="paguKegiatan"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row col-12">
                                    <label for="belanjaPegawai" class="col-4 col-form-label"> Belanja Pegawai
                                    </label>
                                    <div class="col-8">
                                        <input type="text" readonly name="belanjaPegawai" id="belanjaPegawai"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row col-12">
                                    <label for="belanjaBarangJasa" class="col-4 col-form-label"> Belanja Barang & Jasa
                                    </label>
                                    <div class="col-8">
                                        <input type="text" readonly name="belanjaBarangJasa" id="belanjaBarangJasa"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row col-12">
                                    <label for="belanjaModal" class="col-4 col-form-label"> Belanja Modal
                                    </label>
                                    <div class="col-8">
                                        <input type="text" readonly name="belanjaModal" id="belanjaModal"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="col-12">
                        <div class="form-group">
                            <strong> <u> Daftar Komponen </u> </strong>
                        </div>
                    </div>

                    <div class="border rounded">
                        <div class="tab-wrap">
                            <input type="radio" id="tabPeg" name="tabBelanja" class="tab" ng-click="switchTab(1)"
                                   checked>
                            <label for="tabPeg">Belanja Pegawai</label>

                            <input type="radio" id="tabBarang" name="tabBelanja" class="tab"
                                   ng-click="switchTab(2)">
                            <label for="tabBarang">Belanja Barang & Jasa</label>

                            <input type="radio" id="tabModal" name="tabBelanja" class="tab" ng-click="switchTab(3)">
                            <label for="tabModal">Belanja Modal</label>
                        </div>

                        <br>

                        <div class="card-body collapse show text-center" id="collapseExample1">
                            <div class="form-group col-md-12 col-sm-12 col-lg-12 col-xs-push-12 col-xl-12 overflow-datatable">
                                <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
                                       dt-instance="dtInstanceBelanja"
                                       class="table table-bordered table-striped row-border hover rounded">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Kode Akun</th>
                                        <th>Kode Komponen</th>
                                        <th>Nama Komponen</th>
                                        <th>Keterangan</th>
                                        <th>Spek</th>
                                        <th>Nilai</th>
                                        <th>Januari</th>
                                        <th>Februari</th>
                                        <th>Maret</th>
                                        <th>April</th>
                                        <th>Mei</th>
                                        <th>Juni</th>
                                        <th>Juli</th>
                                        <th>Agustus</th>
                                        <th>September</th>
                                        <th>Oktober</th>
                                        <th>November</th>
                                        <th>Desember</th>
                                        <th>Aksi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="belanja in ::belanjaList">
                                        <td>{{belanja.idAnggaranNoUrut}}</td>
                                        <td>{{belanja.kodeAkun}}</td>
                                        <td>{{belanja.kodeKomponen}}</td>
                                        <td>{{belanja.namaKomponen}}</td>
                                        <td>{{belanja.entryAnggaranRinci}}</td>
                                        <td>{{belanja.spek}}</td>
                                        <td>{{accounting.formatMoney(belanja.anggaranDpa,
                                            "", 2,
                                            ".", ",")}}
                                        </td>
                                        <th>{{accounting.formatMoney(belanja.rpaBulan1,
                                            "", 2,
                                            ".", ",")}}
                                        </th>
                                        <th>{{accounting.formatMoney(belanja.rpaBulan2,
                                            "", 2,
                                            ".", ",")}}
                                        </th>
                                        <th>{{accounting.formatMoney(belanja.rpaBulan3,
                                            "", 2,
                                            ".", ",")}}
                                        </th>
                                        <th>{{accounting.formatMoney(belanja.rpaBulan4,
                                            "", 2,
                                            ".", ",")}}
                                        </th>
                                        <th>{{accounting.formatMoney(belanja.rpaBulan5,
                                            "", 2,
                                            ".", ",")}}
                                        </th>
                                        <th>{{accounting.formatMoney(belanja.rpaBulan6,
                                            "", 2,
                                            ".", ",")}}
                                        </th>
                                        <th>{{accounting.formatMoney(belanja.rpaBulan7,
                                            "", 2,
                                            ".", ",")}}
                                        </th>
                                        <th>{{accounting.formatMoney(belanja.rpaBulan8,
                                            "", 2,
                                            ".", ",")}}
                                        </th>
                                        <th>{{accounting.formatMoney(belanja.rpaBulan9,
                                            "", 2,
                                            ".", ",")}}
                                        </th>
                                        <th>{{accounting.formatMoney(belanja.rpaBulan10,
                                            "", 2,
                                            ".", ",")}}
                                        </th>
                                        <th>{{accounting.formatMoney(belanja.rpaBulan11,
                                            "", 2,
                                            ".", ",")}}
                                        </th>
                                        <th>{{accounting.formatMoney(belanja.rpaBulan12,
                                            "", 2,
                                            ".", ",")}}
                                        </th>
                                        <td>
                                            <div class="btn-group btn-group-sm" role="group"
                                                 aria-label="Button group with nested dropdown">
                                                <button id="btnEdit" class="btn btn-link" style="color: #000000"
                                                        data-toggle="modal" data-target="#modalEditRpa"
                                                        ng-click="getById(belanja)">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--/.col-->
    </div>

    <!-- Modal Edit RPA -->
    <div id="modalEditRpa" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"><i class="fa fa-list"></i> Rencana Pelaksanaan Anggaran</h6>
                    <button type="button" class="close" data-dismiss="modal" data-target="#modalEditRpa">&times;
                    </button>
                </div>
                <form name="editRpaKomponen">
                    <div class="modal-body">

                        <div class="row" style="margin-top: 13px">
                            <div class="col-md-6">
                                <div class="form-group row"
                                     style="margin-bottom: 0px !important; padding: 0px !important;">
                                    <label class="col-md-3 col-form-label">Kode Akun</label>
                                    <div class="col-md-8">
                                        <label class="col-form-label">: {{formEditRpa.kodeAkun}}</label>
                                    </div>
                                </div>
                                <div class="form-group row"
                                     style="margin-bottom: 0px !important; padding: 0px !important;">
                                    <label class="col-md-3 col-form-label">Kode Komponen</label>
                                    <div class="col-md-8">
                                        <label class="col-form-label">: {{formEditRpa.kodeKomponen}}</label>
                                    </div>
                                </div>
                                <div class="form-group row"
                                     style="margin-bottom: 0px !important; padding: 0px !important;">
                                    <label class="col-md-3 col-form-label">Nama Komponen</label>
                                    <div class="col-md-8">
                                        <label class="col-form-label">: {{formEditRpa.namaKomponen}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row"
                                     style="margin-bottom: 0px !important; padding: 0px !important;">
                                    <label class="col-md-3 col-form-label">Nilai</label>
                                    <div class="col-md-8">
                                        <label class="col-form-label">:
                                            {{accounting.formatMoney(formEditRpa.anggaranDpa,
                                            "Rp ", 2,
                                            ".", ",")}}</label>
                                    </div>
                                </div>
                                <div class="form-group row"
                                     style="margin-bottom: 0px !important; padding: 0px !important;">
                                    <label class="col-md-3 col-form-label">Sisa</label>
                                    <div class="col-md-8">
                                        <label class="col-form-label">: {{accounting.formatMoney(sisaAnggaran, "Rp ", 2,
                                            ".", ",")}}</label>
                                        <span ng-if="sisaAnggaranMinus"><b><i
                                                class="fa fa-warning text-red"></i></b></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group row" style="margin-top: 13px">
                            <div class="col-md-6">
                                <!-- Januari -->
                                <div class="form-group col-md-12 row">
                                    <label class="col-md-2 col-form-label">Januari</label>
                                    <div class="controls col-md-9">
                                        <div class="input-prepend input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Rp</span>
                                            </div>
                                            <input input-currency type="text" id="januari" name="januari"
                                                   class="form-control text-right"
                                                   ng-model="formEditRpa.rpaBulan1"
                                                   ng-blur="kalkulasiSisaAnggaran()">
                                        </div>
                                    </div>
                                </div>

                                <!-- Februari -->
                                <div class="form-group col-md-12 row">
                                    <label class="col-md-2 col-form-label">Februari</label>
                                    <div class="controls col-md-9">
                                        <div class="input-prepend input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Rp</span>
                                            </div>
                                            <input input-currency type="text" id="februari" name="februari"
                                                   class="form-control text-right"
                                                   ng-model="formEditRpa.rpaBulan2"
                                                   ng-blur="kalkulasiSisaAnggaran()">
                                        </div>
                                    </div>
                                </div>

                                <!-- Maret -->
                                <div class="form-group col-md-12 row">
                                    <label for="maret" class="col-md-2 col-form-label">Maret</label>
                                    <div class="controls col-md-9">
                                        <div class="input-prepend input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Rp</span>
                                            </div>
                                            <input input-currency type="text" id="maret" name="maret"
                                                   class="form-control text-right"
                                                   ng-model="formEditRpa.rpaBulan3"
                                                   ng-blur="kalkulasiSisaAnggaran()">
                                        </div>
                                    </div>
                                </div>

                                <!-- April -->
                                <div class="form-group col-md-12 row">
                                    <label for="april" class="col-md-2 col-form-label">April</label>
                                    <div class="controls col-md-9">
                                        <div class="input-prepend input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Rp</span>
                                            </div>
                                            <input input-currency type="text" id="april" name="april"
                                                   class="form-control text-right"
                                                   ng-model="formEditRpa.rpaBulan4"
                                                   ng-blur="kalkulasiSisaAnggaran()">
                                        </div>
                                    </div>
                                </div>

                                <!-- Mei -->
                                <div class="form-group col-md-12 row">
                                    <label for="mei" class="col-md-2 col-form-label">Mei</label>
                                    <div class="controls col-md-9">
                                        <div class="input-prepend input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Rp</span>
                                            </div>
                                            <input input-currency type="text" id="mei" name="mei"
                                                   class="form-control text-right"
                                                   ng-model="formEditRpa.rpaBulan5"
                                                   ng-blur="kalkulasiSisaAnggaran()">
                                        </div>
                                    </div>
                                </div>

                                <!-- Juni -->
                                <div class="form-group col-md-12 row">
                                    <label for="juni" class="col-md-2 col-form-label">Juni</label>
                                    <div class="controls col-md-9">
                                        <div class="input-prepend input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Rp</span>
                                            </div>
                                            <input input-currency type="text" id="juni" name="juni"
                                                   class="form-control text-right"
                                                   ng-model="formEditRpa.rpaBulan6"
                                                   ng-blur="kalkulasiSisaAnggaran()">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <!-- Juli -->
                                <div class="form-group col-md-12 row">
                                    <label for="juli" class="col-md-3 col-form-label">Juli</label>
                                    <div class="controls col-md-9">
                                        <div class="input-prepend input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Rp</span>
                                            </div>
                                            <input input-currency type="text" id="juli" name="juli"
                                                   class="form-control text-right"
                                                   ng-model="formEditRpa.rpaBulan7"
                                                   ng-blur="kalkulasiSisaAnggaran()">
                                        </div>
                                    </div>
                                </div>

                                <!-- Agustus -->
                                <div class="form-group col-md-12 row">
                                    <label for="agustus" class="col-md-3 col-form-label">Agustus</label>
                                    <div class="controls col-md-9">
                                        <div class="input-prepend input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Rp</span>
                                            </div>
                                            <input input-currency type="text" id="agustus" name="agustus"
                                                   class="form-control text-right"
                                                   ng-model="formEditRpa.rpaBulan8"
                                                   ng-blur="kalkulasiSisaAnggaran()">
                                        </div>
                                    </div>
                                </div>

                                <!-- September -->
                                <div class="form-group col-md-12 row">
                                    <label for="september" class="col-md-3 col-form-label">September</label>
                                    <div class="controls col-md-9">
                                        <div class="input-prepend input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Rp</span>
                                            </div>
                                            <input input-currency type="text" id="september" name="september"
                                                   class="form-control text-right"
                                                   ng-model="formEditRpa.rpaBulan9"
                                                   ng-blur="kalkulasiSisaAnggaran()">
                                        </div>
                                    </div>
                                </div>

                                <!-- Oktober -->
                                <div class="form-group col-md-12 row">
                                    <label for="oktober" class="col-md-3 col-form-label">Oktober</label>
                                    <div class="controls col-md-9">
                                        <div class="input-prepend input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Rp</span>
                                            </div>
                                            <input input-currency type="text" id="oktober" name="oktober"
                                                   class="form-control text-right"
                                                   ng-model="formEditRpa.rpaBulan10"
                                                   ng-blur="kalkulasiSisaAnggaran()">
                                        </div>
                                    </div>
                                </div>

                                <!-- November -->
                                <div class="form-group col-md-12 row">
                                    <label for="november" class="col-md-3 col-form-label">November</label>
                                    <div class="controls col-md-9">
                                        <div class="input-prepend input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Rp</span>
                                            </div>
                                            <input input-currency type="text" id="november" name="november"
                                                   class="form-control text-right"
                                                   ng-model="formEditRpa.rpaBulan11"
                                                   ng-blur="kalkulasiSisaAnggaran()">
                                        </div>
                                    </div>
                                </div>

                                <!-- Desember -->
                                <div class="form-group col-md-12 row">
                                    <label for="desember" class="col-md-3 col-form-label">Desember</label>
                                    <div class="controls col-md-9">
                                        <div class="input-prepend input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Rp</span>
                                            </div>
                                            <input input-currency type="text" id="desember" name="desember"
                                                   class="form-control text-right"
                                                   ng-model="formEditRpa.rpaBulan12"
                                                   ng-blur="kalkulasiSisaAnggaran()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-dark rounded" data-toggle="modal"
                                data-target="#modalEditRpa">
                            Kembali
                        </button>
                        <button type="submit" class="btn btn-success rounded" ng-click="simpanRpa()">
                            Simpan
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--    <div class="form-group row" style="margin-top: 13px">-->
    <!--        <div class="col-md-6">-->
    <!--            &lt;!&ndash; Januari &ndash;&gt;-->
    <!--            <div class="form-group col-md-8"-->
    <!--                 style="margin-bottom: 0px !important; padding-bottom: 0px !important;">-->
    <!--                <label class="col-form-label"-->
    <!--                       style="margin-bottom: 0px !important; padding-bottom: 0px !important;"><small>Januari</small></label>-->
    <!--                <div class="controls">-->
    <!--                    <div class="input-prepend input-group">-->
    <!--                        <div class="input-group-prepend">-->
    <!--                            <span class="input-group-text">Rp</span>-->
    <!--                        </div>-->
    <!--                        <input input-currency type="text" id="januari" name="januari"-->
    <!--                               class="form-control text-right"-->
    <!--                               ng-model="formEditRpa.rpaBulan1">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            &lt;!&ndash; Februari &ndash;&gt;-->
    <!--            <div class="form-group col-md-8">-->
    <!--                <label class="col-form-label"-->
    <!--                       style="margin-bottom: 0px !important; padding-bottom: 0px !important;"><small>Februari</small></label>-->
    <!--                <div class="controls">-->
    <!--                    <div class="input-prepend input-group">-->
    <!--                        <div class="input-group-prepend">-->
    <!--                            <span class="input-group-text">Rp</span>-->
    <!--                        </div>-->
    <!--                        <input input-currency type="text" id="februari" name="februari"-->
    <!--                               class="form-control text-right"-->
    <!--                               ng-model="formEditRpa.rpaBulan2"-->
    <!--                               ng-keypress="onlyNumberKey($event)"-->
    <!--                               ng-blur="kalkulasiSisaAnggaran()">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            &lt;!&ndash; Maret &ndash;&gt;-->
    <!--            <div class="form-group col-md-8">-->
    <!--                <label for="maret" class="col-form-label"-->
    <!--                       style="margin-bottom: 0px !important; padding-bottom: 0px !important;"><small>Maret</small></label>-->
    <!--                <div class="controls">-->
    <!--                    <div class="input-prepend input-group">-->
    <!--                        <div class="input-group-prepend">-->
    <!--                            <span class="input-group-text">Rp</span>-->
    <!--                        </div>-->
    <!--                        <input input-currency type="text" id="maret" name="maret"-->
    <!--                               class="form-control text-right"-->
    <!--                               ng-model="formEditRpa.rpaBulan3"-->
    <!--                               ng-keypress="onlyNumberKey($event)"-->
    <!--                               ng-blur="kalkulasiSisaAnggaran()">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            &lt;!&ndash; April &ndash;&gt;-->
    <!--            <div class="form-group col-md-8">-->
    <!--                <label for="april" class="col-form-label"-->
    <!--                       style="margin-bottom: 0px !important; padding-bottom: 0px !important;"><small>April</small></label>-->
    <!--                <div class="controls">-->
    <!--                    <div class="input-prepend input-group">-->
    <!--                        <div class="input-group-prepend">-->
    <!--                            <span class="input-group-text">Rp</span>-->
    <!--                        </div>-->
    <!--                        <input input-currency type="text" id="april" name="april"-->
    <!--                               class="form-control text-right"-->
    <!--                               ng-model="formEditRpa.rpaBulan4"-->
    <!--                               ng-keypress="onlyNumberKey($event)"-->
    <!--                               ng-blur="kalkulasiSisaAnggaran()">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            &lt;!&ndash; Mei &ndash;&gt;-->
    <!--            <div class="form-group col-md-8">-->
    <!--                <label for="mei" class="col-form-label"-->
    <!--                       style="margin-bottom: 0px !important; padding-bottom: 0px !important;">-->
    <!--                    <smal>Mei</smal>-->
    <!--                </label>-->
    <!--                <div class="controls">-->
    <!--                    <div class="input-prepend input-group">-->
    <!--                        <div class="input-group-prepend">-->
    <!--                            <span class="input-group-text">Rp</span>-->
    <!--                        </div>-->
    <!--                        <input input-currency type="text" id="mei" name="mei"-->
    <!--                               class="form-control text-right"-->
    <!--                               ng-model="formEditRpa.rpaBulan5"-->
    <!--                               ng-keypress="onlyNumberKey($event)"-->
    <!--                               ng-blur="kalkulasiSisaAnggaran()">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            &lt;!&ndash; Juni &ndash;&gt;-->
    <!--            <div class="form-group col-md-8">-->
    <!--                <label for="juni" class="col-form-label"-->
    <!--                       style="margin-bottom: 0px !important; padding-bottom: 0px !important;"><small>Juni</small></label>-->
    <!--                <div class="controls">-->
    <!--                    <div class="input-prepend input-group">-->
    <!--                        <div class="input-group-prepend">-->
    <!--                            <span class="input-group-text">Rp</span>-->
    <!--                        </div>-->
    <!--                        <input input-currency type="text" id="juni" name="juni"-->
    <!--                               class="form-control text-right"-->
    <!--                               ng-model="formEditRpa.rpaBulan6"-->
    <!--                               ng-keypress="onlyNumberKey($event)"-->
    <!--                               ng-blur="kalkulasiSisaAnggaran()">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div class="col-md-6">-->
    <!--            &lt;!&ndash; Juli &ndash;&gt;-->
    <!--            <div class="form-group col-md-8">-->
    <!--                <label for="juli" class="col-form-label"-->
    <!--                       style="margin-bottom: 0px !important; padding-bottom: 0px !important;"><small>Juli</small></label>-->
    <!--                <div class="controls">-->
    <!--                    <div class="input-prepend input-group">-->
    <!--                        <div class="input-group-prepend">-->
    <!--                            <span class="input-group-text">Rp</span>-->
    <!--                        </div>-->
    <!--                        <input input-currency type="text" id="juli" name="juli"-->
    <!--                               class="form-control text-right"-->
    <!--                               ng-model="formEditRpa.rpaBulan7"-->
    <!--                               ng-keypress="onlyNumberKey($event)"-->
    <!--                               ng-blur="kalkulasiSisaAnggaran()">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            &lt;!&ndash; Agustus &ndash;&gt;-->
    <!--            <div class="form-group col-md-8">-->
    <!--                <label for="agustus" class="col-form-label"-->
    <!--                       style="margin-bottom: 0px !important; padding-bottom: 0px !important;"><small>Agustus</small></label>-->
    <!--                <div class="controls">-->
    <!--                    <div class="input-prepend input-group">-->
    <!--                        <div class="input-group-prepend">-->
    <!--                            <span class="input-group-text">Rp</span>-->
    <!--                        </div>-->
    <!--                        <input input-currency type="text" id="agustus" name="agustus"-->
    <!--                               class="form-control text-right"-->
    <!--                               ng-model="formEditRpa.rpaBulan8"-->
    <!--                               ng-keypress="onlyNumberKey($event)"-->
    <!--                               ng-blur="kalkulasiSisaAnggaran()">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            &lt;!&ndash; September &ndash;&gt;-->
    <!--            <div class="form-group col-md-8">-->
    <!--                <label for="september" class="col-form-label"-->
    <!--                       style="margin-bottom: 0px !important; padding-bottom: 0px !important;"><small>September</small></label>-->
    <!--                <div class="controls">-->
    <!--                    <div class="input-prepend input-group">-->
    <!--                        <div class="input-group-prepend">-->
    <!--                            <span class="input-group-text">Rp</span>-->
    <!--                        </div>-->
    <!--                        <input input-currency type="text" id="september" name="september"-->
    <!--                               class="form-control text-right"-->
    <!--                               ng-model="formEditRpa.rpaBulan9"-->
    <!--                               ng-keypress="onlyNumberKey($event)"-->
    <!--                               ng-blur="kalkulasiSisaAnggaran()">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            &lt;!&ndash; Oktober &ndash;&gt;-->
    <!--            <div class="form-group col-md-8">-->
    <!--                <label for="oktober" class="col-form-label"-->
    <!--                       style="margin-bottom: 0px !important; padding-bottom: 0px !important;"><small>Oktober</small></label>-->
    <!--                <div class="controls">-->
    <!--                    <div class="input-prepend input-group">-->
    <!--                        <div class="input-group-prepend">-->
    <!--                            <span class="input-group-text">Rp</span>-->
    <!--                        </div>-->
    <!--                        <input input-currency type="text" id="oktober" name="oktober"-->
    <!--                               class="form-control text-right"-->
    <!--                               ng-model="formEditRpa.rpaBulan10"-->
    <!--                               ng-keypress="onlyNumberKey($event)"-->
    <!--                               ng-blur="kalkulasiSisaAnggaran()">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            &lt;!&ndash; November &ndash;&gt;-->
    <!--            <div class="form-group col-md-8">-->
    <!--                <label for="november" class="col-form-label"-->
    <!--                       style="margin-bottom: 0px !important; padding-bottom: 0px !important;"><small>November</small></label>-->
    <!--                <div class="controls">-->
    <!--                    <div class="input-prepend input-group">-->
    <!--                        <div class="input-group-prepend">-->
    <!--                            <span class="input-group-text">Rp</span>-->
    <!--                        </div>-->
    <!--                        <input input-currency type="text" id="november" name="november"-->
    <!--                               class="form-control text-right"-->
    <!--                               ng-model="formEditRpa.rpaBulan11"-->
    <!--                               ng-keypress="onlyNumberKey($event)"-->
    <!--                               ng-blur="kalkulasiSisaAnggaran()">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            &lt;!&ndash; Desember &ndash;&gt;-->
    <!--            <div class="form-group col-md-8">-->
    <!--                <label for="desember" class="col-form-label"-->
    <!--                       style="margin-bottom: 0px !important; padding-bottom: 0px !important;"><small>Desember</small></label>-->
    <!--                <div class="controls">-->
    <!--                    <div class="input-prepend input-group">-->
    <!--                        <div class="input-group-prepend">-->
    <!--                            <span class="input-group-text">Rp</span>-->
    <!--                        </div>-->
    <!--                        <input input-currency type="text" id="desember" name="desember"-->
    <!--                               class="form-control text-right"-->
    <!--                               ng-model="formEditRpa.rpaBulan12"-->
    <!--                               ng-keypress="onlyNumberKey($event)"-->
    <!--                               ng-blur="kalkulasiSisaAnggaran()">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

</div>
