<div ng-controller="TabKomponenController">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body" id="collapseExample1">

                        <div class="tab-wrap">
                            <input type="radio" id="tab1" name="tabGroup1" class="tab" ng-click="tabGoTo('kegiatan')">
                            <label for="tab1">KEGIATAN</label>

                            <input type="radio" id="tab2" name="tabGroup1" class="tab" checked
                                ng-click="tabGoTo('komponen')">
                            <label for="tab2">KOMPONEN</label>

                            <input type="radio" id="tab3" name="tabGroup1" class="tab" ng-click="tabGoTo('rpa')">
                            <label for="tab3">RPA PER KOMPONEN</label>
                        </div>

                        <div class="border rounded">
                            <div class="col-12">
                                <div class="form-group">
                                    <strong> <u> Data Kegiatan </u> </strong>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 3px !important;">
                                <div class="col-6">
                                    <div class="form-group row col-12">
                                        <label for="urusan" class="col-4 col-form-label">Urusan <sup
                                                style="color: red;">(*)</sup>
                                        </label>
                                        <div class="col-8">
                                            <div class="input-group input-group-prepend">
                                                <input readonly type="text" class="form-control" name="urusan"
                                                    id="urusan" ng-model="formTambahKegiatan.urusan.namaUrusan">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row col-12">
                                        <label for="program" class="col-4 col-form-label">Program <sup
                                                style="color: red;">(*)</sup>
                                        </label>
                                        <div class="col-8">
                                            <div class="input-group input-group-prepend">
                                                <input readonly type="text" class="form-control" name="program"
                                                    id="program" ng-model="formTambahKegiatan.program.namaProgram" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row col-12">
                                        <label for="noKegiatan" class="col-4 col-form-label">No. Kegiatan <sup
                                                style="color: red;">(*)</sup>
                                        </label>
                                        <div class="col-8">
                                            <input readonly type="text" class="form-control" name="noKegiatan"
                                                id="noKegiatan" ng-model="formTambahKegiatan.kodeKegiatan">
                                        </div>
                                    </div>
                                    <div class="form-group row col-12">
                                        <label for="namaKegiatan" class="col-4 col-form-label">Nama Kegiatan <sup
                                                style="color: red;">(*)</sup>
                                        </label>
                                        <div class="col-8">
                                            <input readonly type="text" class="form-control" name="namaKegiatan"
                                                id="namaKegiatan" ng-model="formTambahKegiatan.namaKegiatan">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group row col-12">
                                        <label for="paguKegiatan" class="col-4 col-form-label">
                                            Pagu Kegiatan
                                        </label>
                                        <div class="col-8">
                                            <input type="text" readonly name="paguKegiatan" id="paguKegiatan"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row col-12">
                                        <label for="belanjaPegawai" class="col-4 col-form-label"> Belanja Pegawai
                                        </label>
                                        <div class="col-8">
                                            <input type="text" readonly name="belanjaPegawai" id="belanjaPegawai"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row col-12">
                                        <label for="belanjaBarangJasa" class="col-4 col-form-label"> Belanja Barang &
                                            Jasa
                                        </label>
                                        <div class="col-8">
                                            <input type="text" readonly name="belanjaBarangJasa" id="belanjaBarangJasa"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row col-12">
                                        <label for="belanjaModal" class="col-4 col-form-label"> Belanja Modal
                                        </label>
                                        <div class="col-8">
                                            <input type="text" readonly name="belanjaModal" id="belanjaModal"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="col-12">
                            <div class="form-group">
                                <strong> <u> Daftar Komponen </u> </strong>
                            </div>
                        </div>

                        <div class="border rounded">
                            <div class="tab-wrap">
                                <input type="radio" id="tab1" name="tabGroup1" class="tab"
                                    ng-click="tabGoTo('kegiatan')" checked>
                                <label for="tab1">Belanja Pegawai</label>

                                <input type="radio" id="tab2" name="tabGroup1" class="tab"
                                    ng-click="tabGoTo('komponen')">
                                <label for="tab2">Belanja Barang & Jasa</label>

                                <input type="radio" id="tab3" name="tabGroup1" class="tab" ng-click="tabGoTo('rpa')">
                                <label for="tab3">Belanja Modal</label>
                            </div>

                            <div class="col-12 text-right">
                                <button class="btn btn-success" data-toggle="modal" data-target="#modalTambahKomponen"
                                    ng-click="showTambahModal()">Tambah Komponen
                                </button>
                            </div>

                            <br>

                            <!-- <div class="form-group" style="margin-top: 13px">
                                        <table class="table table-bordered table-striped rounded">
                                            <thead>
                                                <tr class="text-center">
                                                    <th>No</th>
                                                    <th>No Kegiatan</th>
                                                    <th>Nama Kegiatan</th>
                                                    <th>Nilai Anggaran</th>
                                                    <th>Aksi</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">1</td>
                                                    <td>7.14.03.001</td>
                                                    <td>Penyuluhan Ketenagakerjaan Masyarakat</td>
                                                    <td class="text-right">Rp. 20.524.000</td>
                                                    <td class="text-center">
                                                        <button class="btn btn-link" title="Sunting"><i
                                                                class="fa fa-edit"></i></button>
                                                        <button class="btn btn-link" title="Detail"><i
                                                                class="fa fa-list"></i></button>
                                                        <button class="btn btn-link" title="Hapus"><i
                                                                class="fa fa-trash"></i></button>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">2</td>
                                                    <td>7.14.03.002</td>
                                                    <td>Penyediaan Alat Kedokteran Gigi</td>
                                                    <td class="text-right">Rp. 174.550.000</td>
                                                    <td class="text-center">
                                                        <button class="btn btn-link" title="Sunting"><i
                                                                class="fa fa-edit"></i></button>
                                                        <button class="btn btn-link" title="Detail"><i
                                                                class="fa fa-list"></i></button>
                                                        <button class="btn btn-link" title="Hapus"><i
                                                                class="fa fa-trash"></i></button>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div> -->
                            <div class="card-body collapse show text-center" id="collapseExample1">
                                <div class="form-group col-md-12 col-sm-12 col-lg-12 col-xs-push-12 col-xl-12 overflow-datatable">
                                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
                                        dt-instance="dtIntanceBelanjaPegawai"
                                        class="table table-bordered table-striped row-border hover rounded">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Kode Akun</th>
                                                <th>Kode Komponen</th>
                                                <th>Nama Komponen</th>
                                                <th>Keterangan</th>
                                                <th>Spek</th>
                                                <th>Merk</th>
                                                <th>Volume</th>
                                                <th>Koefisien</th>
                                                <th>Satuan</th>
                                                <th>Harga</th>
                                                <th>Total Harga</th>
                                                <th>Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="val in ::belanjaPegawaiList">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <div class="btn-group btn-group-sm" role="group"
                                                        aria-label="Button group with nested dropdown">
                                                        <button id="btnDelete" class="btn btn-link"
                                                            style="color: #000000" ng-click="openModalDelete()">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                        <button id="btnEdit" class="btn btn-link" style="color: #000000"
                                                            ng-click="editData(val.id)">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <div class="btn-group ">
                            <button class="btn btn-default">Batal</button> &nbsp;
                            <button class="btn btn-primary">Simpan</button> &nbsp;
                            <button class="btn btn-success">Kirim</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
    </div>

    <!-- Modal Tambah Komponen -->
    <div id="modalTambahKomponen" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"><i class="fa fa-list"></i> Tambah Komponen</h6>
                    <button type="button" class="close" data-dismiss="modal" data-target="#modalTambahKomponen">&times;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="margin-top: 13px">
                        <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
                            dt-instance="dtInstanceTambahKomponen" class="table table-bordered table-striped rounded">
                            <thead>
                                <tr class="text-center">
                                    <th><input type="checkbox" name="" id=""> </th>
                                    <th>Kode Akun</th>
                                    <th>Kode Komponen</th>
                                    <th>Nama Komponen</th>
                                    <th>Harga Satuan</th>
                                    <th>Spek</th>
                                    <th>Merk</th>
                                    <th>Satuan</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="val in ::tambahKomponenList">
                                    <td><input type="checkbox"
                                        ng-value=val.idBas
                                        ng-model="val.selected"
                                        name="pilihId" id="pilihId"></td>
                                    <td>{{val.kodeAkun}}</td>
                                    <td>{{val.kodeKomponen}}</td>
                                    <td>{{val.namaAkun}}</td>
                                    <td>{{val.komponenHarga}}</td>
                                    <td>{{val.komponenSpek}}</td>
                                    <td>{{val.komponenMerk}}</td>
                                    <td>{{val.namaSatuan}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark rounded" data-toggle="modal"
                        data-target="#modalTambahKomponen">
                        Batal
                    </button>
                    <button type="button" class="btn btn-success rounded" data-dismiss="modal"
                        data-target="#modalTambahKomponen" ng-click="getKomponenId()">
                        Kirim
                    </button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal Sunting Komponen -->
    <div id="modalSuntingKomponen" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"><i class="fa fa-list"></i> Sunting Komponen</h6>
                    <button type="button" class="close" data-dismiss="modal" data-target="#modalSuntingKomponen">&times;
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-3">
                            <label for="namaAkun" class="col-form-label">Nama Akun</label>
                            <label for="kodeAkun" class="col-form-label">Kode Akun</label>
                            <label for="kodeKomponen" class="col-form-label">Kode Komponen</label>
                            <label for="namaKomponen" class="col-form-label">Nama Komponen</label>
                        </div>
                        <div class="col-3">

                        </div>
                        <div class="col-3">
                            <label for="spek" class="col-form-label">Spek</label>
                            <label for="merk" class="col-form-label">Merk</label>
                            <label for="satuan" class="col-form-label">Satuan</label>
                            <label for="harga" class="col-form-label">Harga</label>
                        </div>
                        <div class="col-3">

                        </div>
                    </div>
                    <hr>

                    <div class="row">

                        <div class="col-2">
                            <label for="vol" class="col-form-label">Volume</label>
                            <label for="koef" class="col-form-label">Koefisien</label>
                            <label for="vol1" class="col-form-label">Volume 1</label>
                            <label for="satuan1" class="col-form-label">Satuan 1</label>
                            <label for="vol2" class="col-form-label">Volume 2</label>
                            <label for="satuan2" class="col-form-label">Satuan 2</label>
                        </div>
                        <div class="col-4">
                            <input type="text" name="vol" id="vol" class="form-control">
                            <input type="text" name="koef" id="koef" class="form-control">
                            <input type="text" name="vol1" id="vol1" class="form-control">
                            <input type="text" name="satuan1" id="satuan1" class="form-control">
                            <input type="text" name="vol2" id="vol2" class="form-control">
                            <input type="text" name="satuan2" id="satuan2" class="form-control">
                        </div>
                        <div class="col-2">
                            <label for="vol3" class="col-form-label">Volume 3</label>
                            <label for="satuan3" class="col-form-label">Satuan 3</label>
                            <label for="vol4" class="col-form-label">Volume 4</label>
                            <label for="satuan4" class="col-form-label">Satuan 4</label>
                            <label for="keterangan" class="col-form-label">Keterangan</label>
                            <label for="totalHarga" class="col-form-label">Total Harga</label>
                        </div>
                        <div class="col-4">
                            <input type="text" name="vol3" id="vol3" class="form-control">
                            <input type="text" name="satuan3" id="satuan3" class="form-control">
                            <input type="text" name="vol4" id="vol4" class="form-control">
                            <input type="text" name="satuan4" id="satuan4" class="form-control">
                            <input type="text" name="keterangan" id="keterangan" class="form-control">
                            <input type="text" name="totalHarga" id="totalHarga" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark rounded" data-toggle="modal"
                        data-target="#modalSuntingKomponen">
                        Batal
                    </button>
                    <button type="button" class="btn btn-success rounded" data-dismiss="modal"
                        data-target="#modalSuntingKomponen">
                        Simpan
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div id="modalDeleteComponent" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"><i class="fa fa-list"></i> Sunting Komponen</h6>
                    <button type="button" class="close" data-dismiss="modal" data-target="#modalDeleteComponent">&times;
                    </button>
                </div>

                <div class="modal-body">
                    <span>Apakah anda yakin akan menghapus data komponen dengan kode komponen X.XX</span>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark rounded" data-toggle="modal"
                        data-target="#modalDeleteComponent">
                        Batal
                    </button>
                    <button type="button" class="btn btn-success rounded" data-dismiss="modal"
                        data-target="#modalDeleteComponent">
                        Hapus
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>