<div ng-controller="TabKomponenController">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body" id="collapseExample1">

                        <div class="tab-wrap">
                            <input type="radio" id="tab1" name="tabGroup1" class="tab" ng-click="tabGoTo('kegiatan')">
                            <label for="tab1">KEGIATAN</label>

                            <input type="radio" id="tab2" name="tabGroup1" class="tab" checked
                                ng-click="tabGoTo('komponen')">
                            <label for="tab2">KOMPONEN</label>

                            <input type="radio" id="tab3" name="tabGroup1" class="tab" ng-click="tabGoTo('rpa')">
                            <label for="tab3">RPA PER KOMPONEN</label>
                        </div>

                        <form name="formInfoKegiatan">

                            <div class="border rounded">
                                <div class="col-12">
                                    <div class="form-group">
                                        <strong> <u> Data Kegiatan </u> </strong>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 3px !important;">
                                    <div class="col-6">
                                        <div class="form-group row col-12">
                                            <label for="urusan" class="col-4 col-form-label">Urusan <sup
                                                    style="color: red;">(*)</sup>
                                            </label>
                                            <div class="col-8">
                                                <div class="input-group input-group-prepend">
                                                    <input readonly type="text" class="form-control" name="urusan"
                                                        id="urusan" ng-model="formInfoKegiatan.urusan.namaUrusan">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row col-12">
                                            <label for="program" class="col-4 col-form-label">Program <sup
                                                    style="color: red;">(*)</sup>
                                            </label>
                                            <div class="col-8">
                                                <div class="input-group input-group-prepend">
                                                    <input readonly type="text" class="form-control" name="program"
                                                        id="program" ng-model="formInfoKegiatan.program.namaProgram" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row col-12">
                                            <label for="noKegiatan" class="col-4 col-form-label">No. Kegiatan <sup
                                                    style="color: red;">(*)</sup>
                                            </label>
                                            <div class="col-8">
                                                <input readonly type="text" class="form-control" name="noKegiatan"
                                                    id="noKegiatan" ng-model="formInfoKegiatan.kodeKegiatan">
                                            </div>
                                        </div>
                                        <div class="form-group row col-12">
                                            <label for="namaKegiatan" class="col-4 col-form-label">Nama Kegiatan <sup
                                                    style="color: red;">(*)</sup>
                                            </label>
                                            <div class="col-8">
                                                <input readonly type="text" class="form-control" name="namaKegiatan"
                                                    id="namaKegiatan" ng-model="formInfoKegiatan.namaKegiatan">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group row col-12">
                                            <label for="paguKegiatan" class="col-4 col-form-label">
                                                Pagu Kegiatan
                                            </label>
                                            <div class="col-8">
                                                <input type="text" readonly name="paguKegiatan" id="paguKegiatan" ng-model="paguKegiatan"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row col-12">
                                            <label for="belanjaPegawai" class="col-4 col-form-label"> Belanja Pegawai
                                            </label>
                                            <div class="col-8">
                                                <input type="text" ng-model="anggaranPegawai" readonly name="belanjaPegawai" id="belanjaPegawai"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row col-12">
                                            <label for="belanjaBarangJasa" class="col-4 col-form-label"> Belanja Barang
                                                &
                                                Jasa
                                            </label>
                                            <div class="col-8">
                                                <input type="text" ng-model="anggaranBarang" readonly name="belanjaBarangJasa"
                                                    id="belanjaBarangJasa" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row col-12">
                                            <label for="belanjaModal" class="col-4 col-form-label"> Belanja Modal
                                            </label>
                                            <div class="col-8">
                                                <input type="text" ng-model="anggaranModal" readonly name="belanjaModal" id="belanjaModal"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <br>

                        <div class="col-12">
                            <div class="form-group">
                                <strong> <u> Daftar Komponen </u> </strong>
                            </div>
                        </div>

                        <div class="border rounded">
                            <div class="tab-wrap">
                                <input type="radio" id="tabPeg" name="tabBelanja" class="tab" ng-click="switchTab(1)"
                                    checked>
                                <label for="tabPeg">Belanja Pegawai</label>

                                <input type="radio" id="tabBarang" name="tabBelanja" class="tab"
                                    ng-click="switchTab(2)">
                                <label for="tabBarang">Belanja Barang & Jasa</label>

                                <input type="radio" id="tabModal" name="tabBelanja" class="tab" ng-click="switchTab(3)">
                                <label for="tabModal">Belanja Modal</label>
                            </div>

                            <div class="col-12 text-right">
                                <button class="btn btn-success" data-toggle="modal" data-target="#modalTambahKomponen"
                                    ng-click="showTambahModal()">Tambah Komponen
                                </button>
                            </div>

                            <br>

                            <div class="card-body collapse show text-center" id="collapseExample1">
                                <div class="form-group col-md-12 col-sm-12 col-lg-12 col-xs-push-12 col-xl-12 overflow-datatable">
                                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
                                        dt-instance="dtInstanceBelanja"
                                        class="table table-bordered table-striped row-border hover rounded">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Kode Akun</th>
                                                <th>Kode Komponen</th>
                                                <th>Nama Komponen</th>
                                                <th>Keterangan</th>
                                                <th>Spek</th>
                                                <th>Merk</th>
                                                <th>Volume</th>
                                                <th>Koefisien</th>
                                                <th>Satuan</th>
                                                <th>Harga</th>
                                                <th>Total Harga</th>
                                                <th>Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="belanja in ::belanjaList">
                                                <td>{{belanja.idAnggaranNoUrut}}</td>
                                                <td>{{belanja.kodeAkun}}</td>
                                                <td>{{belanja.kodeKomponen}}</td>
                                                <td>{{belanja.namaKomponen}}</td>
                                                <td>{{belanja.entryAnggaranRinci}}</td>
                                                <td>{{belanja.spek}}</td>
                                                <td>{{belanja.merk}}</td>
                                                <td>{{belanja.volume}}</td>
                                                <td>{{belanja.koefisien}}</td>
                                                <td>{{belanja.satuan}}</td>
                                                <td>{{belanja.komponenHarga}}</td>
                                                <td>{{belanja.anggaranDpa}}</td>
                                                <td>
                                                    <div class="btn-group btn-group-sm" role="group"
                                                        aria-label="Button group with nested dropdown">
                                                        <button id="btnDelete" class="btn btn-link"
                                                            style="color: #000000" data-toggle="modal"
                                                            data-target="#modalDeleteComponent">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                        <button id="btnEdit" class="btn btn-link" style="color: #000000"
                                                            data-toggle="modal" data-target="#modalSuntingKomponen"
                                                            ng-click="getById(belanja)">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card-footer text-right">
                        <div class="btn-group ">
                            <button class="btn btn-default">Batal</button> &nbsp;
                            <button class="btn btn-primary">Simpan</button> &nbsp;
                            <button class="btn btn-success">Kirim</button>
                        </div>
                    </div> -->
                </div>
            </div>
            <!--/.col-->
        </div>
    </div>

    <!-- Modal Tambah Komponen -->
    <div id="modalTambahKomponen" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"><i class="fa fa-list"></i> Tambah Komponen</h6>
                    <button type="button" class="close" data-dismiss="modal" data-target="#modalTambahKomponen">&times;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="margin-top: 13px">
                        <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
                            dt-instance="dtInstanceTambahKomponen" class="table table-bordered table-striped rounded">
                            <thead>
                                <tr class="text-center">
                                    <th><input type="checkbox" name="" id=""> </th>
                                    <th>Kode Akun</th>
                                    <th>Kode Komponen</th>
                                    <th>Nama Komponen</th>
                                    <th>Harga Satuan</th>
                                    <th>Spek</th>
                                    <th>Merk</th>
                                    <th>Satuan</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="val in ::tambahKomponenList">
                                    <td><input type="checkbox" ng-value=val.idBas ng-model="val.selected" name="pilihId"
                                            id="pilihId"></td>
                                    <td>{{val.kodeAkun}}</td>
                                    <td>{{val.kodeKomponen}}</td>
                                    <td>{{val.namaAkun}}</td>
                                    <td>{{val.komponenHarga}}</td>
                                    <td>{{val.komponenSpek}}</td>
                                    <td>{{val.komponenMerk}}</td>
                                    <td>{{val.namaSatuan}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark rounded" data-toggle="modal"
                        data-target="#modalTambahKomponen">
                        Batal
                    </button>
                    <button type="button" class="btn btn-success rounded" data-dismiss="modal"
                        data-target="#modalTambahKomponen" ng-click="save()">
                        Kirim
                    </button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal Sunting Komponen -->
    <div id="modalSuntingKomponen" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"><i class="fa fa-list"></i> Sunting Komponen</h6>
                    <button type="button" class="close" data-dismiss="modal" data-target="#modalSuntingKomponen">&times;
                    </button>
                </div>

                <form name="formSunting">

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-2"><span>Nama Akun</span></div>
                            <div class="col-4"><span>{{formSuntingKomponen.namaAkun}}</span></div>

                            <div class="col-2"><span>Spek</span></div>
                            <div class="col-4"><span>{{formSuntingKomponen.spek}}</span></div>

                            <div class="col-2"><span>Kode Akun</span></div>
                            <div class="col-4"><span>{{formSuntingKomponen.kodeAkun}}</span></div>

                            <div class="col-2"><span>Merk</span></div>
                            <div class="col-4"><span>{{formSuntingKomponen.merk}}</span></div>

                            <div class="col-2"><span>Kode Komponen</span></div>
                            <div class="col-4"><span>{{formSuntingKomponen.kodeKomponen}}</span></div>

                            <div class="col-2"><span>Satuan</span></div>
                            <div class="col-4"><span>{{formSuntingKomponen.satuan}}</span></div>

                            <div class="col-2"><span>Nama Komponen</span></div>
                            <div class="col-4"><span>{{formSuntingKomponen.namaKomponen}}</span></div>

                            <div class="col-2"><span>Harga</span></div>
                            <div class="col-4"><span>{{formSuntingKomponen.harga}}</span></div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-2">
                                <label for="vol" class="col-form-label">Volume</label>
                            </div>
                            <div class="col-4">
                                <input type="text" name="vol" id="vol" ng-model="formSuntingKomponen.volume"
                                    readonly class="form-control pb-1">
                            </div>
                            <div class="col-2">
                                <label for="vol3" class="col-form-label">Volume 3</label>
                            </div>
                            <div class="col-4">
                                <input type="text" name="vol3" id="vol3" ng-model="formSuntingKomponen.volume3"
                                ng-blur="setKoefisien()" class="form-control pb-1">
                            </div>
                            <div class="col-2">
                                <label for="koef" class="col-form-label">Koefisien</label>
                            </div>
                            <div class="col-4">
                                <input type="text" name="koef" id="koef" ng-model="formSuntingKomponen.koefisien"
                                    readonly class="form-control pb-1">
                            </div>
                            <div class="col-2">
                                <label for="satuan3" class="col-form-label">Satuan 3</label>
                            </div>
                            <div class="col-4">
                                <input type="text" name="satuan3" id="satuan3" ng-model="formSuntingKomponen.satuan3"
                                ng-blur="setKoefisien()" class="form-control pb-1">
                            </div>
                            <div class="col-2">
                                <label for="vol1" class="col-form-label">Volume 1</label>
                            </div>
                            <div class="col-4">
                                <input type="text" name="vol1" id="vol1" ng-model="formSuntingKomponen.volume1" ng-blur="setKoefisien()"
                                    class="form-control pb-1">
                            </div>
                            <div class="col-2">
                                <label for="vol4" class="col-form-label">Volume 4</label>
                            </div>
                            <div class="col-4">
                                <input type="text" name="vol4" id="vol4" ng-model="formSuntingKomponen.volume4"
                                ng-blur="setKoefisien()" class="form-control pb-1">
                            </div>
                            <div class="col-2">
                                <label for="satuan1" class="col-form-label">Satuan 1</label>
                            </div>
                            <div class="col-4">
                                <input type="text" name="satuan1" id="satuan1" ng-model="formSuntingKomponen.satuan1" ng-blur="setKoefisien()"
                                    class="form-control pb-1">
                            </div>
                            <div class="col-2">
                                <label for="satuan4" class="col-form-label">Satuan 4</label>
                            </div>
                            <div class="col-4">
                                <input type="text" name="satuan4" id="satuan4" ng-model="formSuntingKomponen.satuan4"
                                ng-blur="setKoefisien()" class="form-control pb-1">
                            </div>
                            <div class="col-2">
                                <label for="vol2" class="col-form-label">Volume 2</label>
                            </div>
                            <div class="col-4">
                                <input type="text" name="vol2" id="vol2" ng-model="formSuntingKomponen.volume2" ng-blur="setKoefisien()"
                                    class="form-control pb-1">
                            </div>
                            <div class="col-2">
                                <label for="keterangan" class="col-form-label">Keterangan</label>
                            </div>
                            <div class="col-4">
                                <input type="text" name="keterangan" id="keterangan"
                                    ng-model="formSuntingKomponen.keterangan" class="form-control pb-1">
                            </div>
                            <div class="col-2">
                                <label for="satuan2" class="col-form-label">Satuan 2</label>
                            </div>
                            <div class="col-4">
                                <input type="text" name="satuan2" id="satuan2" ng-model="formSuntingKomponen.satuan2" ng-blur="setKoefisien()"
                                    class="form-control pb-1">
                            </div>
                            <div class="col-2" ng-show="formSuntingKomponen.nonPajak == 0">
                                <label for="pajak" class="col-form-label">Pajak</label>
                            </div>
                            <div class="col-4" ng-show="formSuntingKomponen.nonPajak == 0">
                                <input type="text" placeholder="dalam persen(%)" name="pajak" id="pajak" ng-model="formSuntingKomponen.pajak" ng-blur="setKoefisien()"
                                    class="form-control pb-1">
                            </div>
                            <div class="col-2">
                                <label for="totalHarga" class="col-form-label">Total Harga</label>
                            </div>
                            <div class="col-4">
                                <input type="text" name="totalHarga" id="totalHarga"
                                    ng-model="formSuntingKomponen.totalHarga" class="form-control pb-1">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-dark rounded" data-toggle="modal"
                            data-target="#modalSuntingKomponen">
                            Batal
                        </button>
                        <button type="button" class="btn btn-success rounded" data-dismiss="modal"
                            data-target="#modalSuntingKomponen" ng-click="editVolume()">
                            Simpan
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div id="modalDeleteComponent" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"><i class="fa fa-list"></i> Sunting Komponen</h6>
                    <button type="button" class="close" data-dismiss="modal" data-target="#modalDeleteComponent">&times;
                    </button>
                </div>

                <div class="modal-body">
                    <span>Apakah anda yakin akan menghapus data komponen dengan kode komponen X.XX</span>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark rounded" data-toggle="modal"
                        data-target="#modalDeleteComponent">
                        Batal
                    </button>
                    <button type="button" class="btn btn-success rounded" data-dismiss="modal"
                        data-target="#modalDeleteComponent">
                        Hapus
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>