<div ng-controller="TabKegiatanController">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <form name="tambahForm">
                    <div class="card">
                        <div class="card-body" id="collapseExample1">

                            <div class="tab-wrap">
                                <input type="radio" id="tab1" name="tabGroup1" class="tab" checked
                                       ng-click="tabGoTo('kegiatan')">
                                <label for="tab1">KEGIATAN</label>

                                <input type="radio" id="tab2" name="tabGroup1" class="tab"
                                       ng-click="tabGoTo('komponen')" ng-disabled="!idKegiatan">
                                <label for="tab2">KOMPONEN</label>

                                <input type="radio" id="tab3" name="tabGroup1" class="tab" ng-click="tabGoTo('rpa')"
                                       ng-disabled="!idKegiatan">
                                <label for="tab3">RPA PER KOMPONEN</label>
                            </div>

                            <div class="border rounded">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <small class="text-red">Batas Akhir Pengisian: -- </small>
                                    </div>
                                    <div class="form-group">
                                        <strong> <u> Data Kegiatan </u></strong>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 3px !important;">
                                    <div class="col-md-6">
                                        <div class="form-group row col-md-12">
                                            <label class="col-md-4 col-form-label">Urusan <sup
                                                    style="color: red;">(*)</sup></label>
                                            <div class="row col-md-8">
                                                <div class="input-group input-group-prepend">
                                                    <input readonly type="text" class="form-control" name="urusan"
                                                           id="urusan"
                                                           ng-model="formTambahKegiatan.urusan.namaUrusan"
                                                           ng-class="{'is-invalid': !formTambahKegiatan.urusan.id && submitted}">
                                                    <div class="input-group-prepend">
                                                        <button type="button" class="btn btn-success"
                                                                data-toggle="modal" data-target="#modalUrusan"
                                                                ng-click="openUrusanModal()"><i
                                                                class="fa fa-search"></i></button>
                                                    </div>
                                                </div>
                                                <span class="input-group" style="color:red"
                                                      ng-show="!formTambahKegiatan.urusan.id && submitted">
                                            <small>
                                                <span ng-show="!formTambahKegiatan.urusan.id">Urusan harus diisi.</span>
                                            </small>
                                        </span>
                                            </div>
                                        </div>
                                        <div class="form-group row col-md-12">
                                            <label class="col-md-4 col-form-label">Program <sup
                                                    style="color: red;">(*)</sup></label>
                                            <div class="row col-md-8">
                                                <div class="input-group input-group-prepend">
                                                    <input readonly type="text" class="form-control" name="program"
                                                           id="program"
                                                           ng-model="formTambahKegiatan.program.namaProgram"
                                                           ng-class="{'is-invalid': !formTambahKegiatan.program.id && submitted}"
                                                           oninvalid="this.setCustomValidity('Isian ini wajib diisi')"/>
                                                    <div class="input-group-prepend">
                                                        <button type="button" class="btn btn-success"
                                                                data-toggle="modal" data-target="#modalProgram"
                                                                ng-click="openProgramModal()"><i
                                                                class="fa fa-search"></i></button>
                                                    </div>
                                                </div>
                                                <span class="input-group" style="color:red"
                                                      ng-show="!formTambahKegiatan.program.id && submitted">
                                            <small>
                                                <span ng-show="!formTambahKegiatan.program.id">Program harus diisi.</span>
                                            </small>
                                        </span>
                                            </div>
                                        </div>
                                        <div class="form-group row col-md-12">
                                            <label class="col-md-4 col-form-label">No. Kegiatan <sup
                                                    style="color: red;">(*)</sup></label>
                                            <div class="row col-md-8">
                                                <input readonly type="text" class="form-control" name="noKegiatan"
                                                       id="noKegiatan"
                                                       ng-model="formTambahKegiatan.kodeKegiatan">
                                            </div>
                                        </div>
                                        <div class="form-group row col-md-12">
                                            <label class="col-md-4 col-form-label">Nama Kegiatan <sup
                                                    style="color: red;">(*)</sup></label>
                                            <div class="row col-md-8">
                                                <input type="text" class="form-control" name="namaKegiatan"
                                                       id="namaKegiatan"
                                                       ng-model="formTambahKegiatan.namaKegiatan"
                                                       ng-class="{'is-invalid': !formTambahKegiatan.namaKegiatan && submitted}">
                                                <span class="input-group" style="color:red"
                                                      ng-show="!formTambahKegiatan.namaKegiatan && submitted">
                                            <small>
                                                <span ng-show="!formTambahKegiatan.namaKegiatan">Nama Kegiatan harus diisi.</span>
                                            </small>
                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row col-md-12">
                                            <label class="col-md-4 col-form-label">Sasaran <sup
                                                    style="color: red;">(*)</sup></label>
                                            <div class="row col-md-8">
                                                <input type="text" class="form-control" name="sasaran"
                                                       id="sasaran"
                                                       ng-model="formTambahKegiatan.sasaranKegiatan"
                                                       ng-class="{'is-invalid': !formTambahKegiatan.sasaranKegiatan && submitted}"
                                                       oninvalid="this.setCustomValidity('Isian ini wajib diisi')"/>
                                                <span class="input-group" style="color:red"
                                                      ng-show="!formTambahKegiatan.sasaranKegiatan && submitted">
                                            <small>
                                                <span ng-show="!formTambahKegiatan.sasaranKegiatan">Sasaran harus diisi.</span>
                                            </small>
                                        </span>
                                            </div>
                                        </div>
                                        <div class="form-group row col-md-12">
                                            <label class="col-md-4 col-form-label">Waktu Pelaksanaan <sup
                                                    style="color: red;">(*)</sup></label>
                                            <div class="row col-md-8">
                                                <input type="text" class="form-control col-md-5" name="bulanMulai"
                                                       id="bulanMulai"
                                                       placeholder="Bulan Mulai (01-12)"
                                                       ng-model="formTambahKegiatan.bulanMulai"
                                                       ng-class="{'is-invalid': !formTambahKegiatan.bulanMulai && submitted}">
                                                <span class="col-md-2"></span>
                                                <input type="text" class="form-control col-md-5" name="bulanSelesai"
                                                       id="bulanSelesai"
                                                       placeholder="Bulan Selesai (01-12)"
                                                       ng-model="formTambahKegiatan.bulanSelesai"
                                                       ng-class="{'is-invalid': !formTambahKegiatan.bulanSelesai && submitted}">
                                                <span class="input-group" style="color:red"
                                                      ng-show="(!formTambahKegiatan.bulanSelesai || !formTambahKegiatan.bulanMulai) && submitted">
                                                    <small>
                                                        <span ng-show="(!formTambahKegiatan.bulanSelesai || !formTambahKegiatan.bulanMulai)">Waktu Pelaksanaan harus diisi.</span>
                                                    </small>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group row col-md-12">
                                            <label class="col-md-4 col-form-label">Lokasi Kegiatan <sup
                                                    style="color: red;">(*)</sup></label>
                                            <div class="row col-md-8">
                                                <select id="lokasiKegiatan" name="lokasiKegiatan"
                                                        class="form-control input-lg"
                                                        ng-model="formTambahKegiatan.kodeLokasiKegiatan"
                                                        ng-class="{'is-invalid': !formTambahKegiatan.kodeLokasiKegiatan && submitted}">
                                                    <option ng-value=val.kodeLokasi
                                                            ng-repeat="val in ::lokasiKegiatanList">
                                                        {{val.kodeLokasi}} - {{val.namaLokasi}}
                                                    </option>
                                                </select>
                                                <span class="input-group" style="color:red"
                                                      ng-show="!formTambahKegiatan.kodeLokasiKegiatan && submitted">
                                            <small>
                                                <span ng-show="!formTambahKegiatan.kodeLokasiKegiatan">Lokasi Kegiatan harus diisi.</span>
                                            </small>
                                        </span>
                                            </div>
                                        </div>
                                        <div class="form-group row col-md-12">
                                            <label class="col-md-4 col-form-label">Sumber Dana <sup
                                                    style="color: red;">(*)</sup></label>
                                            <div class="row col-md-8">
                                                <input type="text" class="form-control" name="sumberDana"
                                                       id="sumberDana"
                                                       ng-model="formTambahKegiatan.namaSumberDana"
                                                       ng-class="{'is-invalid': !formTambahKegiatan.namaSumberDana && submitted}">
                                                <span class="input-group" style="color:red"
                                                      ng-show="!formTambahKegiatan.namaSumberDana && submitted">
                                                    <small>
                                                        <span ng-show="!formTambahKegiatan.namaSumberDana">Sumber Dana harus diisi.</span>
                                                    </small>
                                                </span>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <div class="col-md-12 text-right">
                                                <button type="submit" class="btn btn-primary rounded"
                                                        ng-click="saveKegiatan()">
                                                    Simpan Kegiatan
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="form-group row col-md-12 col-sm-12 col-lg-12 col-xs-push-12 col-xl-12 ">
                                <div class="col-md-6"><strong> <u> Data Kinerja </u> </strong></div>
                                <div class="col-md-6 text-right">
                                    <button type="button" class="btn btn-primary rounded"
                                            ng-disabled="idKegiatan == null"
                                            data-toggle="modal"
                                            data-target="#modalAddKinerja"><i
                                            class="fa fa-plus"></i>
                                        Tambah Kinerja
                                    </button>
                                </div>
                            </div>

                            <div class="form-group col-md-12 col-sm-12 col-lg-12 col-xs-push-12 col-xl-12 overflow-datatable"
                                 style="margin-top: 13px">
                                <table datatable="ng" dt-options="dtOptionsKinerja" dt-column-defs="dtColumnDefs"
                                       dt-instance="dtInstanceKinerja"
                                       class="table table-bordered table-striped row-border hover rounded">
                                    <thead>
                                    <tr class="text-center">
                                        <th>Kode Indikator</th>
                                        <th>No Urut</th>
                                        <th>Tolak Ukur</th>
                                        <th>Target Kinerja</th>
                                        <th>Aksi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="val in ::listKinerja">
                                        <td>{{val.kodeIndikator}}</td>
                                        <td class="text-center">{{val.noUrut}}</td>
                                        <td>{{val.keteranganTolakUkur}}</td>
                                        <td class="text-right">{{val.keteranganTargetKinerja}}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-link" title="Sunting"
                                                        ng-click="editKinerja(val)" data-toggle="modal"
                                                        data-target="#modalEditKinerja"><i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-link" title="Hapus"
                                                        ng-click="deleteNotif(val)" data-toggle="modal"
                                                        data-target="#modalDeleteKinerja"><i class="fa fa-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-secondary rounded" title="Kembali"
                                    ng-click="kembaliKeListKegiatan()">Kembali
                            </button>
                            <button type="button" class="btn btn-primary rounded" title="Simpan"
                                    ng-click="simpanTabKegiatan()">Simpan
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--/.col-->
        </div>

    </div>

    <!-- Modal Look Up Urusan -->
    <div id="modalUrusan" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"><i class="fa fa-list"></i> Pilih Urusan</h6>
                    <button type="button" class="close" data-dismiss="modal" data-target="#modalUrusan">&times;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="margin-top: 13px">
                        <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
                               dt-instance="dtInstanceUrusan"
                               class="table table-bordered table-striped row-border hover rounded">
                            <thead>
                            <tr class="text-center">
                                <th></th>
                                <th>No.</th>
                                <th>Kode Urusan</th>
                                <th>Nama Urusan</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="val in ::urusanList">
                                <td class="text-center">
                                    <div class="form-check col-form-label">
                                        <input class="form-check-input" type="radio" id=urusan_{{val.id}}
                                               name="pilihUrusan" ng-value=val.id
                                               ng-model="urusanGetId"
                                               ng-change="changeOption('urusan',val)">
                                    </div>
                                </td>
                                <td class="text-center">{{val.id}}</td>
                                <td class="text-center">{{val.kodeUrusan}}</td>
                                <td>{{val.namaUrusan}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark rounded" data-toggle="modal" data-target="#modalUrusan">
                        Kembali
                    </button>
                    <button type="button" class="btn btn-success rounded" data-dismiss="modal"
                            data-target="#modalUrusan"
                            ng-click="urusanGetFunction()">
                        Kirim
                    </button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal Look Up Program -->
    <div id="modalProgram" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"><i class="fa fa-list"></i> Pilih Program</h6>
                    <button type="button" class="close" data-dismiss="modal" data-target="#modalProgram">&times;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group text-center" style="margin-top: 13px">
                        <div class="text-red" ng-show="formTambahKegiatan.urusan.id === null"><h5>Silahkan Pilih Urusan
                            Terlebih Dahulu</h5></div>
                        <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
                               dt-instance="dtInstanceProgram"
                               class="table table-bordered table-striped row-border hover rounded">
                            <thead>
                            <tr class="text-center">
                                <th></th>
                                <th>No.</th>
                                <th>Kode Program</th>
                                <th>Nama Program</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="val in ::programList">
                                <td class="text-center">
                                    <div class="form-check col-form-label">
                                        <input class="form-check-input" type="radio" id=program_{{val.id}}
                                               name="pilihProgram" ng-value=val.id
                                               ng-model="programGetId"
                                               ng-change="changeOption('program',val)">
                                    </div>
                                </td>
                                <td class="text-center">{{val.id}}</td>
                                <td class="text-center">{{val.kodeProgram}}</td>
                                <td class="text-left">{{val.namaProgram}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark rounded" data-toggle="modal" data-target="#modalProgram">
                        Kembali
                    </button>
                    <button type="button" class="btn btn-success rounded" data-dismiss="modal"
                            data-target="#modalProgram" ng-click="programGetFunction()">
                        Kirim
                    </button>
                </div>
            </div>

        </div>
    </div>


    <!-- Modal Look Up Delete Konfirmasi -->
    <div id="modalDeleteKinerja" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"><i class="fa fa-list"></i> Hapus Kinerja</h6>
                    <button type="button" class="close" data-dismiss="modal" data-target="#modalDeleteKinerja">&times;
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p>Anda Yakin Ingin Menghapus Data?</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark rounded" data-toggle="modal"
                            data-target="#modalDeleteKinerja">
                        Kembali
                    </button>
                    <button type="button" class="btn btn-success rounded" data-dismiss="modal"
                            data-target="#modalDeleteKinerja" ng-click="deleteKinerja()">
                        Hapus
                    </button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal Add Kinerja -->
    <div id="modalAddKinerja" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"><i class="fa fa-list"></i> Tambah Kinerja</h6>
                    <button type="button" class="close" data-dismiss="modal" data-target="#modalAddKinerja">&times;
                    </button>
                </div>
                <form name="tambahKinerjaForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="form-group row col-md-12">
                                <label class="col-md-4 col-form-label">Kode Indikator <sup
                                        style="color: red;">(*)</sup></label>
                                <div class="row col-md-7">
                                    <select id="kodeIndikator" name="kodeIndikator"
                                            class="form-control input-lg"
                                            ng-model="formTambahKinerja.kodeIndikator"
                                            ng-class="{'is-invalid': formTambahKinerja.kodeIndikator == null && submittedKinerja}">
                                        <option ng-value=val.kodeFungsi
                                                ng-repeat="val in ::listKodeIndikator">
                                            {{val.kodeFungsi}} - {{val.keteranganKode}}
                                        </option>
                                    </select>
                                    <span class="input-group" style="color:red"
                                          ng-show="formTambahKinerja.kodeIndikator == null && submittedKinerja">
                                        <small>
                                            <span ng-show="formTambahKinerja.kodeIndikator == null">Kode Indikator harus diisi.</span>
                                        </small>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row col-md-12">
                            <label class="col-md-4 col-form-label">No. Urut</label>
                            <div class="row col-md-7">
                                <input readonly type="text" class="form-control" name="noUrut"
                                       id="noUrut"
                                       ng-model="formTambahKinerja.noUrut" ng-value="noUrutKinerja">
                            </div>
                        </div>
                        <div class="form-group row col-md-12">
                            <label class="col-md-4 col-form-label">Keterangan Tolak Ukur <sup
                                    style="color: red;">(*)</sup></label>
                            <div class="row col-md-7">
                                <input type="text" class="form-control" name="keteranganTolakUkur"
                                       id="keteranganTolakUkur"
                                       ng-model="formTambahKinerja.keteranganTolakUkur"
                                       ng-class="{'is-invalid': formTambahKinerja.keteranganTolakUkur == null && submittedKinerja}">
                                <span class="input-group" style="color:red"
                                      ng-show="formTambahKinerja.keteranganTolakUkur == null && submittedKinerja">
                                    <small>
                                        <span ng-show="formTambahKinerja.keteranganTolakUkur == null">Keterangan tolak ukur harus diisi.</span>
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="form-group row col-md-12">
                            <label class="col-md-4 col-form-label">Keterangan Target Kinerja <sup
                                    style="color: red;">(*)</sup></label>
                            <div class="row col-md-7">
                                <input type="text" class="form-control" name="keteranganTargetKinerja"
                                       id="keteranganTargetKinerja"
                                       ng-model="formTambahKinerja.keteranganTargetKinerja"
                                       ng-class="{'is-invalid': formTambahKinerja.keteranganTargetKinerja == null && submittedKinerja}">
                                <span class="input-group" style="color:red"
                                      ng-show="formTambahKinerja.keteranganTargetKinerja == null && submittedKinerja">
                                    <small>
                                        <span ng-show="formTambahKinerja.keteranganTargetKinerja == null">Keterangan target kinerja harus diisi.</span>
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-dark rounded" data-toggle="modal"
                                data-target="#modalAddKinerja">
                            Kembali
                        </button>
                        <button type="submit" class="btn btn-success rounded" ng-click="simpanKinerja()">
                            Kirim
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Edit Kinerja -->
    <div id="modalEditKinerja" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"><i class="fa fa-list"></i> Sunting Kinerja</h6>
                    <button type="button" class="close" data-dismiss="modal" data-target="#modalEditKinerja">&times;
                    </button>
                </div>
                <form name="updateKinerjaForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="form-group row col-md-12">
                                <label class="col-md-4 col-form-label">Kode Indikator <sup
                                        style="color: red;">(*)</sup></label>
                                <div class="row col-md-7">
                                    <select id="kodeIndikatorEdit" name="kodeIndikator"
                                            class="form-control input-lg"
                                            ng-model="formEditKinerja.kodeIndikator"
                                            ng-class="{'is-invalid': formEditKinerja.kodeIndikator == null && submittedEditKinerja}">
                                        <option ng-value=val.kodeFungsi
                                                ng-repeat="val in ::listKodeIndikator">
                                            {{val.kodeFungsi}} - {{val.keteranganKode}}
                                        </option>
                                    </select>
                                    <span class="input-group" style="color:red"
                                          ng-show="formEditKinerja.kodeIndikator == null && submittedEditKinerja">
                                        <small>
                                            <span ng-show="formEditKinerja.kodeIndikator == null">Kode Indikator harus diisi.</span>
                                        </small>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row col-md-12">
                            <label class="col-md-4 col-form-label">No. Urut</label>
                            <div class="row col-md-7">
                                <input readonly type="text" class="form-control" name="noUrut"
                                       id="noUrutEdit"
                                       ng-model="formEditKinerja.noUrut">
                            </div>
                        </div>
                        <div class="form-group row col-md-12">
                            <label class="col-md-4 col-form-label">Keterangan Tolak Ukur <sup
                                    style="color: red;">(*)</sup></label>
                            <div class="row col-md-7">
                                <input type="text" class="form-control" name="keteranganTolakUkur"
                                       id="keteranganTolakUkurEdit"
                                       ng-model="formEditKinerja.keteranganTolakUkur"
                                       ng-class="{'is-invalid': formEditKinerja.keteranganTolakUkur == null && submittedEditKinerja}">
                                <span class="input-group" style="color:red"
                                      ng-show="formEditKinerja.keteranganTolakUkur == null && submittedEditKinerja">
                                    <small>
                                        <span ng-show="formEditKinerja.keteranganTolakUkur == null">Keterangan tolak ukur harus diisi.</span>
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="form-group row col-md-12">
                            <label class="col-md-4 col-form-label">Keterangan Target Kinerja <sup
                                    style="color: red;">(*)</sup></label>
                            <div class="row col-md-7">
                                <input type="text" class="form-control" name="keteranganTargetKinerja"
                                       id="keteranganTargetKinerjaEdit"
                                       ng-model="formEditKinerja.keteranganTargetKinerja"
                                       ng-class="{'is-invalid': formEditKinerja.keteranganTargetKinerja == null && submittedEditKinerja}">
                                <span class="input-group" style="color:red"
                                      ng-show="formEditKinerja.keteranganTargetKinerja == null && submittedEditKinerja">
                                    <small>
                                        <span ng-show="formEditKinerja.keteranganTargetKinerja == null">Keterangan target kinerja harus diisi.</span>
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-dark rounded" data-toggle="modal"
                                data-target="#modalEditKinerja">
                            Kembali
                        </button>
                        <button type="submit" class="btn btn-success rounded" ng-click="updateKinerja()">
                            Kirim
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <toaster-container toaster-options="{'close-button': true}"></toaster-container>
</div>
