<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <!--<li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i>
                    Dashboard <span
                            class="badge badge-info">NEW</span></a>
            </li>

            <li class="divider"></li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.components')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.components')}" href="#"><i
                        class="icon-menu"></i> Menu</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.forms"><i
                                class="icon-notebook"></i>
                            Forms</a>
                    </li>
                </ul>
            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" ui-sref-active="active" ui-sref="app.components.list-forms"><i class="icon-notebook"></i> Form Example </a>-->
<!--            </li>-->
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.kas"><i class="icon-puzzle"></i> Kas BLUD </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.pendapatan"><i class="icon-puzzle"></i>
                    Pendapatan </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.rincian"><i class="icon-puzzle"></i> Rincian
                    Biaya </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.kegiatan"><i class="icon-puzzle"></i> Kegiatan
                </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" ui-sref-active="active" ui-sref="app.kasPersetujuan"><i class="icon-puzzle"></i> Persetujuan
                    </a>
                </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.laporan"><i class="icon-puzzle"></i> Laporan
                </a>
            </li>
        </ul>
    </nav>
</div>
