<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" ng-controller="RincianPendapatanController">
                <div class="card-body" id="collapseExample1">
                    <div class="border rounded">
                        <div class="row col-12">
                            <div class="col-6">
                                <div class="form-group row col-12" style="margin-bottom: 1px !important;">
                                    <label class="col-4 col-form-label">Tahun Anggaran</label>
                                    <div class="col-8">
                                        <label class="col-form-label">: 2019</label>
                                    </div>
                                </div>
                                <div class="form-group row col-12">
                                    <label class="col-4 col-form-label">SKPD</label>
                                    <div class="col-8">
                                        <label class="col-form-label">: 1234567 / Puskesmas Rancasari</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group row col-12" style="margin-bottom: 1px !important;">
                                    <label class="col-3 col-form-label">Kode Akun</label>
                                    <div class="col-8">
                                        <label class="col-form-label">: 4.1.4.12.01</label>
                                    </div>
                                </div>
                                <div class="form-group row col-12">
                                    <label class="col-3 col-form-label">Nama Akun</label>
                                    <div class="col-8">
                                        <label class="col-form-label">: Pendapatan Jasa Layanan Umum BLUD</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="form-group">
                        <strong> <u> Rincian Pendapatan </u> </strong>
                    </div>

                    <div class="row" style="margin-top: 13px">
                        <div class="col-6">

                            <!-- Anggaran Rincian Field -->
                            <div class="form-group row">
                                <label for="anggaranRincian" class="col-4 col-form-label">Anggaran Rincian <sup
                                        style="color: red;">(*)</sup></label>
                                <div class="col-6">
                                    <input type="text" class="form-control" name="anggaranRincian" id="anggaranRincian">
                                </div>
                            </div>

                            <!-- Satuan Field -->
                            <div class="form-group row">
                                <label for="satuan" class="col-4 col-form-label">Satuan <sup
                                        style="color: red;">(*)</sup></label>
                                <div class="col-6">
                                    <input type="text" class="form-control" name="satuan" id="satuan">
                                </div>
                            </div>

                            <!-- Volume Field -->
                            <div class="form-group row">
                                <label for="volume" class="col-4 col-form-label">Volume <sup
                                        style="color: red;">(*)</sup></label>
                                <div class="col-6">
                                    <input type="text" class="form-control" name="volume" id="volume">
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <!-- Harga Field -->
                            <div class="form-group row">
                                <label for="harga" class="col-4 col-form-label">Harga <sup
                                        style="color: red;">(*)</sup></label>
                                <div class="col-6">
                                    <input type="text" class="form-control" name="harga" id="harga">
                                </div>
                            </div>

                            <!-- Total Anggaran Field -->
                            <div class="form-group row">
                                <label for="totalAnggaran" class="col-4 col-form-label">Total Anggaran <sup
                                        style="color: red;">(*)</sup></label>
                                <div class="col-6">
                                    <input readonly type="text" class="form-control" name="totalAnggaran"
                                           id="totalAnggaran">
                                </div>
                            </div>
                        </div>
                    </div>


                    <br>
                    <div class="form-group">
                        <strong> <u> Daftar Rincian Pendapatan </u> </strong>
                    </div>
                    <div class="form-group" style="margin-top: 13px">
                        <table class="table table-bordered table-striped rounded">
                            <thead>
                            <tr class="text-center">
                                <th>No</th>
                                <th>Anggaran Rinci</th>
                                <th>Satuan</th>
                                <th>Volume</th>
                                <th>Harga</th>
                                <th>Total Anggaran</th>
                                <th>Aksi</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td>Rawat Inap</td>
                                <td>Paket</td>
                                <td class="text-center">2</td>
                                <td class="text-right">Rp. 7.000.000,00</td>
                                <td class="text-right">Rp. 14.000.000,00</td>
                                <td class="text-center">
                                    <button class="btn btn-link" title="Sunting Rinci"><i class="fa fa-edit"></i>
                                    </button>
                                    <button class="btn btn-link" title="Hapus Rinci"><i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">2</td>
                                <td>Rawat Jalan</td>
                                <td>Paket</td>
                                <td class="text-center">1</td>
                                <td class="text-right">Rp. 900.000,00</td>
                                <td class="text-right">Rp. 900.000,00</td>
                                <td class="text-center">
                                    <button class="btn btn-link" title="Sunting Rinci"><i class="fa fa-edit"></i>
                                    </button>
                                    <button class="btn btn-link" title="Hapus Rinci"><i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-secondary rounded" ng-click="goToPendapatan()">Kembali</button>
                    <button class="btn btn-success rounded" ng-click="simpanDataRinci()">Simpan</button>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>
