<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card" ng-controller="RincianPendapatanController">
                <div class="card-body" id="collapseExample1">
                    <div class="border rounded">
                        <div class="row" style="margin-left: 1px !important;">
                            <div class="col-md-7">
                                <div class="form-group row" style="margin-bottom: 1px !important;">
                                    <label class="col-md-3 col-form-label">Tahun Anggaran</label>
                                    <div class="col-md-8">
                                        <label class="col-form-label">: {{skpdDetail.tahunAnggaran}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">SKPD</label>
                                    <div class="col-md-9">
                                        <label class="col-form-label">: {{skpdDetail.namaSkpd}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group row" style="margin-bottom: 1px !important;">
                                    <label class="col-md-4 col-form-label">Kode Akun</label>
                                    <div class="col-md-8">
                                        <label class="col-form-label">: {{skpdDetail.kodeAkun}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">Nama Akun</label>
                                    <div class="col-md-8">
                                        <label class="col-form-label">: {{skpdDetail.namaAkun}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="form-group">
                        <strong> <u> Rincian Pendapatan </u> </strong>
                    </div>
                    <form name="rincianForm" ng-submit="simpanRincian(rincianForm)">
                        <div class="row" style="margin-top: 13px">
                            <div class="col-md-6">
                                <!-- Anggaran Rincian Field -->
                                <div class="form-group row">
                                    <label for="rincianAnggaran" class="col-md-4 col-form-label">Uraian <sup
                                            style="color: red;">(*)</sup></label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="rincianAnggaran"
                                               id="rincianAnggaran"
                                               ng-model="formRincian.rincianAnggaran"
                                               ng-class="{'is-invalid': rincianForm.rincianAnggaran.$error.required && submitted}"
                                               required>
                                        <span class="input-group" style="color:red"
                                              ng-show="rincianForm.rincianAnggaran.$invalid && submitted">
                                            <small>
                                                <span ng-show="rincianForm.rincianAnggaran.$error.required">Uraian harus diisi.</span>
                                            </small>
                                        </span>
                                    </div>
                                </div>

                                <!-- Satuan Field -->
                                <div class="form-group row">
                                    <label for="satuan" class="col-md-4 col-form-label">Satuan <sup
                                            style="color: red;">(*)</sup></label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="satuan" id="satuan"
                                               ng-model="formRincian.namaBarangSatuanTapd"
                                               ng-class="{'is-invalid': rincianForm.satuan.$error.required && submitted}"
                                               required>
                                        <span class="input-group" style="color:red"
                                              ng-show="rincianForm.satuan.$invalid && submitted">
                                            <small>
                                                <span ng-show="rincianForm.satuan.$error.required">Satuan harus diisi.</span>
                                            </small>
                                        </span>
                                    </div>
                                </div>

                                <!-- Volume Field -->
                                <div class="form-group row">
                                    <label for="volume" class="col-md-4 col-form-label">Volume <sup
                                            style="color: red;">(*)</sup></label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="volume" id="volume"
                                               ng-model="formRincian.jumlahBarangTapd"
                                               ng-keypress="onlyNumberKey($event)"
                                               ng-keyup="getTotalHarga()"
                                               ng-class="{'is-invalid': rincianForm.volume.$error.required && submitted}"
                                               required>
                                        <span class="input-group" style="color:red"
                                              ng-show="rincianForm.volume.$invalid && submitted">
                                            <small>
                                                <span ng-show="rincianForm.volume.$error.required">Volume harus diisi.</span>
                                            </small>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <!-- Harga Field -->
                                <div class="form-group row">
                                    <label for="harga" class="col-md-4 col-form-label">Harga <sup
                                            style="color: red;">(*)</sup></label>
                                    <div class="col-md-6">
                                        <input input-currency type="text"
                                               class="form-control text-right"
                                               name="harga"
                                               id="harga"
                                               ng-model="formRincian.hargaBarangSatuanTapd"
                                               ng-keypress="onlyNumberKey($event)"
                                               ng-keyup="getTotalHarga()"
                                               ng-class="{'is-invalid': rincianForm.harga.$error.required && submitted}"
                                               required>
                                        <span class="input-group" style="color:red"
                                              ng-show="rincianForm.harga.$invalid && submitted">
                                            <small>
                                                <span ng-show="rincianForm.harga.$error.required">Harga harus diisi.</span>
                                            </small>
                                        </span>
                                    </div>
                                </div>

                                <!-- Total Anggaran Field -->
                                <div class="form-group row">
                                    <label for="totalAnggaran" class="col-md-4 col-form-label">Total Anggaran <sup
                                            style="color: red;">(*)</sup></label>
                                    <div class="col-md-6">
                                        <input input-currency
                                               readonly
                                               type="text"
                                               class="form-control text-right"
                                               name="totalAnggaran"
                                               id="totalAnggaran" ng-model="formRincian.anggaranTapd"
                                               >
                                    </div>
                                </div>

                                <!-- Simpan Button -->
                                <div class="form-group row">
                                    <span class="col-md-4 col-form-label"></span>
                                    <div class="col-md-6 text-right">
                                        <button class="btn btn-success rounded" ng-click="simpanRincian(rincianForm)">
                                            Simpan
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>


                    <br>
                    <div class="form-group">
                        <strong> <u> Daftar Rincian Pendapatan </u> </strong>
                    </div>
                    <div class="form-group" style="margin-top: 13px">
                        <table style="table-layout: fixed; width: 100%" class="table table-bordered table-striped rounded">
                            <colgroup>
                                <col style="width: 5%">
                                <col style="width: 23%">
                                <col style="width: 14%">
                                <col style="width: 14%">
                                <col style="width: 17%">
                                <col style="width: 17%">
                                <col style="width: 10%">
                            </colgroup>
                            <thead>
                            <tr class="text-center">
                                <th>No</th>
                                <th>Uraian</th>
                                <th>Satuan</th>
                                <th>Volume</th>
                                <th>Harga</th>
                                <th>Total Anggaran</th>
                                <th>Aksi</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in loadDataRincianPendapatan">
                                <td class="text-center">{{data.anggaranNoUrut}}</td>
                                <td style="word-wrap: break-word" >{{data.rincianAnggaran}}</td>
                                <td>{{data.namaBarangSatuanTapd}}</td>
                                <td class="text-center">{{data.jumlahBarangTapd}}</td>
                                <td class="text-right">{{data.hargaBarangSatuanTapd | currency: "Rp. " : 0}}</td>
                                <td class="text-right">{{data.anggaranTapd | currency: "Rp. " : 0}}</td>
                                <td class="text-center">
                                    <button class="btn btn-link" title="Sunting Rinci" ng-click="editRincian(data)"><i
                                            class="fa fa-edit"></i>
                                    </button>
                                    <button class="btn btn-link" title="Hapus Rinci" ng-click="hapusRincian(data)"><i
                                            class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr ng-if="loadDataRincianPendapatan.length <= 0">
                                <td colspan="8" class="text-center"><b>Tidak Ada Data Rincian</b></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-secondary rounded" ng-click="goToPendapatan()">Kembali</button>
                    <button class="btn btn-success rounded" ng-click="simpanDataRincianAll()">Simpan</button>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>

<toaster-container toaster-options="{'close-button': true}"></toaster-container>
